#imgabt {
    display: flex;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    background-color: #d8dbee;
    font-family: sans-serif;
}

.page-container {
    width: 80%;
    max-width: 800px;
    min-height: 500px;
    padding: 40px;
    
    background-color: #ffffff;
    border: 5px outset #cccccc;
    
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}


ul {
  list-style-type: none;
  padding: 0;
  gap: 20px; 
  padding: 15px;
  border-radius: 8px;
}

li a {
  text-decoration: none;
  color: #5077c4;
  transition: color 0.3s ease;
}

li a:hover {
  color: #007bff;
  text-decoration: underline;
}